@import "../../../globalStyles";



.btn2 {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 2px*$vw solid #0AABC1;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px*$vw;
    line-height: 130.4%;
    color: #323232;
}