@import "../../../globalStyles";


.Stats {
    width: 100%;
    position: relative;
    padding: 50px*$vw 300px*$vw;
    overflow: hidden;

    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../../../assets/img/StatsBg.jpg');
}
.Stats_header {
    
    h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 34px*$vw;
        line-height: 41px*$vw;
        color: #0AABC1;
        margin-bottom: 15px*$vw;
    }
    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 61px*$vw;
        line-height: 74px*$vw;
        color: #FFFFFF;
        margin-bottom: 60px*$vw;
    }
}
.Stats_w {
    width: 100%;
    margin-bottom: 69px*$vw;

    @include flex(flex, row, wrap, flex-start, center, unset);

    gap: 60px*$vw;
}
.Stats_item {
    min-width: 394px*$vw;
    background: #0AABC1;
    border-radius: 10px*$vw;
    padding: 42px*$vw 28px*$vw;

    @include flex(flex, column, nowrap, flex-start, flex-start, unset);

    .num {
        width: 84px*$vw;
        height: 84px*$vw;
        margin-bottom: 27px*$vw;
        background-color: rgba(181, 181, 181, 0.6);
        border-radius: 7px*$vw;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 48px*$vw;
        line-height: 59px*$vw;
        text-transform: uppercase;
        color: #FFFFFF;
        white-space: nowrap;
        padding-left: 40px*$vw;
        
        @include flex(flex, row, nowrap, flex-start, center, unset);
    }
    .text {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 22px*$vw;
        line-height: 130.4%;
        color: #FFFFFF;
    }
}

.Stats_volunteer_btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0 auto;
    cursor: pointer;

    @include flex(flex, row, nowrap, flex-start, center, unset);

    .plus {
        width: 60px*$vw;
        height: 60px*$vw;
        border: 2px*$vw solid #FFFFFF;
        border-radius: 50%;
        margin-right: 20px*$vw;

        @include flex(flex, row, nowrap, center, center, unset);

        svg {
            width: 50%;
            height: 50%;
        }
    }
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 48px*$vw;
        line-height: 59px*$vw;
        color: #FFFFFF;
    }
}