@import "../../globalStyles";



.header {
    width: 100%;

    @include flex(flex, column, nowrap, flex-start, flex-start, unset);

    position: fixed;
    top: 0;
    z-index: 10;
}

.header_top {
    width: 100%;
    background-color: #323232;
    padding: 8px*$vw 300px*$vw;

    @include flex(flex, row, nowrap, space-between, center, unset);
}
.headerTop_contacts,
.headerTop_contacts a {
    @include flex(flex, row, nowrap, flex-start, center, unset);
}
.headerTop_contacts {
    gap: 27px*$vw;
}
.headerTop_contacts a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px*$vw;
    line-height: 20px*$vw;
    text-transform: uppercase;
    color: #FFFFFF;
}
.header_tel_icon {
    width: 19px*$vw;
    height: 15px*$vw;
    margin-right: 10px*$vw;

    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.headerTop_socials {
    @include flex(flex, row, nowrap, flex-end, center, unset);
    gap: 30px*$vw;
}
.headerOneSocial_icon {
    width: 20px*$vw;
    height: 20px*$vw;

    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header_nav_w {
    width: 100%;
    padding: 17px*$vw 300px*$vw;
    background-color: #FFFBF0;

    @include flex(flex, row, nowrap, space-between, center, unset);
}
.header_logo {
    width: 170px*$vw*0.8;
    height: 93px*$vw*0.8;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.nav {
    ul {
        @include flex(flex, row, nowrap, space-between, center, unset);
        gap: 40px*$vw;

        li {
            span {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 18px*$vw*0.8;
                line-height: 22px*$vw*0.8;
                text-transform: uppercase;
                color: #323232;
            }
        }
    }
}




.headerNav_donate {
    @include flex(flex, row, nowrap, flex-start, center, unset);
    gap: 40px*$vw;
}
.search_btn {
    width: 23px*$vw*0.8;
    height: 25px*$vw*0.8;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}











.header_nav_w {
    width: 100%;

    @include flex(flex, row, nowrap, space-between, center, unset);
}