@import "../../../../globalStyles";


.NewsCard {
    width: 400px*$vw;
    position: relative;
    background-color: #fff;
    border-radius: 10px*$vw;
    overflow: hidden;

    @include flex(flex, column, nowrap, flex-start, center, unset);
}
.News_card_img {
    width: 100%;
    height: 211px*$vw;
    background: #000;
    position: relative;

    .dark {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 0;
        left: 0;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.News_card_authorCircle {
    width: 50px*$vw;
    height: 50px*$vw;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 185px*$vw;
    left: 22px*$vw;
}

.News_card_content {
    width: 100%;
    padding: 30px*$vw;
    position: relative;

    .title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 20px*$vw;
        line-height: 24px*$vw;
        color: #323232;
        margin-bottom: 35px*$vw;
    }
}

.News_card_author {
    position: absolute;
    top: -21.5px*$vw;
    left: 27.5px*$vw;

    @include flex(flex, row, nowrap, flex-start, flex-start, unset);
}
.News_card_authorImg {
    width: 39px*$vw;
    height: 39px*$vw;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.News_card_authorName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px*$vw;
    line-height: 17px*$vw;
    color: #FFFFFF;
    margin-left: 15px*$vw;
}

.News_card_bottom {
    width: 100%;
    padding: 20px*$vw 30px*$vw;
    border-top: 1px*$vw solid #E0E0E0;

    @include flex(flex, row, nowrap, space-between, center, unset);

    .left,
    .right {
        @include flex(flex, row, nowrap, flex-start, center, unset);

        .icon {
            width: 25px*$vw;
            height: 25px*$vw;
            margin-right: 15px*$vw;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 16px*$vw;
            line-height: 20px*$vw;
            color: #8B8B8B;
        }
    }
}