@import "../../../globalStyles";


.breadcrumbs {
    width: 1320px;
    margin: 0 auto;
    padding: 40px*$vw 0 10px*$vw 0;
    border-bottom: 0.5px*$vw solid #9D9B9B;

    .crumb {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px*$vw;
        line-height: 17px*$vw;
        color: #9D9B9B;
    }
    .crumb_curr {
        font-weight: 700;
    }
}