@import "../../globalStyles";


.Footer {
    width: 100%;
    padding: 50px*$vw 300px*$vw 0 300px*$vw;
    margin-top: 100px*$vw;

    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../assets/img/footerBG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include flex(flex, column, nowrap, flex-start, center, unset);
}
.Footer_content {
    width: 100%;
    padding-bottom: 50px*$vw;
    border-bottom: 1px*$vw solid #969696;

    @include flex(flex, row, nowrap, space-between, flex-start, unset);

    gap: 76px*$vw;
}

.Footer_logoText {
    width: 400px*$vw;

    @include flex(flex, column, nowrap, flex-start, flex-start, unset);
}
.Footer_logo {
    width: 155px*$vw;
    height: 85px*$vw;
    margin-bottom: 20px*$vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
.Footer_text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px*$vw;
    line-height: 25px*$vw;
    color: #FFFFFF;
    margin-bottom: 20px*$vw;
}
.Footer_socials {
    width: 100%;

    @include flex(flex, row, nowrap, flex-start, center, unset);
    gap: 30px*$vw;
}
.Footer_oneSocial {
    width: 20px*$vw;
    height: 20px*$vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.Footer_column {
    width: auto;

    @include flex(flex, column, nowrap, flex-start, flex-start, unset);

    &>.title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px*$vw;
        line-height: 32px*$vw;
        color: #0AABC1;
        white-space: nowrap;
        margin-bottom: 20px*$vw;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px*$vw;
    }

    li {
        span {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 18px*$vw;
            line-height: 22px*$vw;
            color: #FFFFFF;
        }
    }
}
.Footer_nav {
    li {
        &::before {
            content: '\203A';
            font-size: 25px*$vw;
            color: #fff;
            margin-right: 7px*$vw;
        }
    }
}

.Footer_contacts {
    .Footer_contact {
        @include flex(flex, row, nowrap, flex-start, center, unset);

        .icon {
            width: 26px*$vw;
            height: 26px*$vw;
            margin-right: 24px*$vw;

            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}

.Footer_column_newsW {
    @include flex(flex, column, nowrap, flex-start, flex-start, unset);
    gap: 20px*$vw;
}

.small_newCard {
    width: 254px*$vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px*$vw;

    .img {
        width: 85px*$vw;
        height: 85px*$vw;
        border-radius: 3px*$vw;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }
    .content {
        width: 151px*$vw;
    }
    .title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px*$vw;
        line-height: 17px*$vw;
        color: #FFFFFF;
        margin-bottom: 17px*$vw;
    }
    .button button {
        font-size: 14px*$vw;
        color: #FFFFFF;
    }
}

.Footer_copyright {
    width: 100%;
    padding: 28px*$vw 0;

    @include flex(flex, row, nowrap, center, center, unset);

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px*$vw;
    line-height: 155.9%;
    color: #FFFFFF;

    a {
        color: #0AABC1;
    }
}