@import "../../globalStyles";


.Causes_w {
    width: 100%;
    padding: 0 300px*$vw;
    margin-top: 76px*$vw;

    @include flex(flex, column, wrap, flex-start, center, unset);

    h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 34px*$vw;
        line-height: 41px*$vw;
        color: #0AABC1;
        margin-bottom: 15px*$vw;
    }
    h3 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 61px*$vw;
        line-height: 74px*$vw;
        color: #323232;
        margin-bottom: 50px*$vw;
    }
}
.Causes_bgText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 180px*$vw;
    line-height: 219px*$vw;
    color: rgba(192, 192, 192, 0.1);
    position: absolute;
    top: 300px*$vw;
}

.CausesPage_2cols {
    width: 100%;

    @include flex(flex, row, nowrap, space-between, flex-start, unset);
}
.CausesPage_content {
    width: 940px*$vw;
    margin-bottom: 50px*$vw;

    @include flex(flex, row, wrap, flex-start, flex-start, unset);

    gap: 60px*$vw;
}
.CausesPage_content_noPosts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px*$vw*0.7;
    line-height: 44px*$vw*0.7;
    color: #323232;
    margin: 0 auto;
}