@import "../../../globalStyles";



.btn1 {
    padding: 15px*$vw*0.8 30px*$vw*0.8;
    background: #0AABC1;
    border-radius: 35px*$vw*0.8;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px*$vw*0.8;
    line-height: 24px*$vw*0.8;
    text-transform: uppercase;
    color: #FFFBF0;
}